body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d0e6f2;
    color: #020301;
    background-image: url('/static/images/login-background-image.jpg')
}

#logo {
    width: 100px;
    height: 100px;
}


.container-background {
    max-width: 1200px;
    margin: 70px auto;
    padding: 25px 40px;
    background-color: #d0e6f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container-message {
    margin: 0 auto;
    padding: 10px;
    background-color: #EBF8FF;
    border-radius: 8px;
}

.container-form {
    margin: 20px 0px;
    padding: 30px 0px;
    border-radius: 8px;
    text-align: center;
}

.username-field {
    margin-bottom: 10px;
}

label {
    margin-right: 5px;
}

h1,
h4 {
    text-align: center;
    color: #016280
}

h2 {
    text-align: center;
    color: #EBF8FF;
    background-color: #016280;
    padding: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #016280
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    background-color: #a0c2d0;
    border-radius: 5px;
    margin: 20px 0px 0px;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
}

li a:hover:not(.active) {
    background-color: #b5d6e8;
}

.active {
    background-color: #8cb6c8;
}

input[type=text],
input[type=password],
input[type=email] {
    background-color: #9eddff;
    border: 2px solid #a0c2d0;
    border-radius: 25px;
    padding: 7px;
}

input[type=submit] {
    font-size: 20px;
    background-color: #6ab9da;
    color: #003343;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #5BA3C2;
    padding: 15px 45px;
}

input[type=submit]:hover {
    background-color: #68ADCA;
    box-shadow: 0 9px #4291B3;
}

input[type=submit]:focus {
    background-color: #68ADCA;
    box-shadow: 0 5px #4291B3;
    transform: translateY(4px);
}

select {
    background-color: #EBF8FF;
    border: 2px solid #a0c2d0;
    border-radius: 10px;
    padding: 10px;
}

table {
    width: 100%;
    text-align: left;
    margin: 25px auto;
}

caption {
    background-color: #4291B3;
    color: #EBF8FF;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

th {
    background-color: #6ab9da;
    color: #016280;
    text-align: center;
    padding: 8px;
}

td {
    background-color: #EBF8FF;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #D6F1FF;
}

@media only screen and (max-width: 620px) {

    /* For mobile phones: */
    .menu,
    .main,
    .right {
        width: 100%;
    }
}