[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-wtf = "*"
wtforms = "*"
requests = "*"
stripe = "*"
Jinja2 = ">=3.1.6"


[dev-packages]


