[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-wtf = "*"
wtforms = "*"
requests = "*"
stripe = "*"


[dev-packages]

[requires]
python_version = "3.12"
