<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}A Novel Solution{% endblock %}</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/favicon.png')}}">
</head>

<body>
    <div id="container">
        <!-- Header -->
        <div class="row" style="align-items:center; justify-content:space-between; margin-bottom:10px; padding:5px;">
            <div class="col-4 col-md-2">
                <img src="{{url_for('static', filename='images/logo.png')}}" id="logo">
            </div>

            <div class="col-4">
                <h1>A Novel Solution</h1>
            </div>
            
            <div class="col-4 col-md-2">
                <h4>2025SP.CSC.289</h4>
            </div>
        </div>

        <!-- The content of the page will be inserted here using templating -->
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>