{% extends "base.html" %}

<title>{% block title %}Daily Sales Report | NS{% endblock %}</title>

{% block content %}
<h2>Daily Sales Report</h2>

<div class="container-message">
    Current User: {{ user.username }} [{{ user.role }}]<br>

<!-- System messages -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}
</div>

<!-- Daily timestamp table -->
<table id="timestamp-table">
    <tbody>
        <tr>
            <td>
                Current Date: {{ current_date.strftime("%A, %B %d %Y") }}
            </td>
            <td>
                Current Time: {{ current_date.strftime("%I:%M %p") }}
            </td>
        </tr>
    </tbody>
</table>

<!-- Daily sales report table -->
<table id="daily-sales-table">
    <caption><h3>Daily Sales</h3></caption>
    <thead>
        <tr>
            <th class="col-2">Transaction ID</th>
            <th class="col-2">Timestamp</th>
            <th class="col-2">ISBN/SKU</th>
            <th class="col-1">Quantity</th>
            <th class="col-1">Unit Price</th>
            <th class="col-1">Subtotal</th>
            <th class="col-1">Tax</th>
            <th class="col-2">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in daily_transactions %}
        <tr>
            <td>{{ item }}</td>
            <td>timestamp</td>
            <td>isbn/sku</td>
            <td>quantity</td>
            <td>unit price</td>
            <td>subtotal</td>
            <td>tax</td>
            <td>total</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Daily totals table -->
<table id="daily-sales-table">
    <thead>
        <tr>
            <th class="col-4">Daily Sales Amount</th>
            <th class="col-4">Daily Sales Tax (7.25%)</th>
            <th class="col-4">Daily Sales Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>sales amount</td>
            <td>sales tax</td>
            <td>sales total</td>
        </tr>
    </tbody>
</table>

<!-- Export buttons -->
 <div class="container-action">
    <div class="row" id="export-row">
        <div class="col"><button id="action-button">Export to CSV</button></div>
        <div class="col"><button id="action-button">Export to PDF</button></div>
    </div>
 </div>


<!-- Navigation Links -->
<ul class="nav-links">
    <li style="float:left;"><a href="{{ url_for('Novel_login.dashboard') }}">Dashboard</a></li>

    {% if user.role == 'manager' %}
    <li><a href="{{ url_for('Novel_login.add_user') }}">Register User</a></li>
    {% endif %}
    
    <li><a href="{{ url_for('Novel_inventory.inventory') }}">View Inventory</a></li>
    <li><a href="{{ url_for('Novel_inventory.search') }}">Search Inventory</a></li>
    {% if user.role == 'manager' %}
    <li><a href="{{ url_for('Novel_inventory.add_book') }}">Add Book to Inventory</a></li>
    <li><a href="{{ url_for('Novel_login.dashboard') }}">Inventory Reports</a></li>
    {% endif %}
    
    {% if user.role == 'cashier' %}
    <li><a href="{{ url_for('Novel_POS.process_sale') }}">Process Sale</a></li>
    {% endif %}
    {% if user.role == 'manager' %}
    <li><a class="active" href="{{ url_for('Novel_sales_reports.sales_report') }}">Sales Reports</a></li>
    {% endif %}
    <li><a href="{{ url_for('Novel_cart.view_cart') }}" class="cart-link">🛒 Cart</a></li>

    <li style="float:right;"><a href="{{ url_for('Novel_login.logout') }}">Logout</a></li>
</ul>

{% endblock %}