{% extends "base.html" %}

{% block content %}
<h3> User Logged in:{{ username }}</h3>
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="{{ url_for('Novel_login.logout') }}" method="POST">
    <button type="submit">Logout</button>
</form>
<h2>Inventory</h2>



<form method="POST" action="{{ url_for('Novel_inventory.inventory') }}">
    <input type="text" name="search_term" placeholder="Enter ISBN or SKU" required>
    <button type="submit">Search</button>
</form>


{% if book %}
    <p>ISBN: {{book.isbn}}</p>
    <p>Book Title: {{book.title}}</p>
    <p>Author: {{book.authors}}</p>
    <p>Stock: {{book.stock}}</p>
    <p>Price: {{book.price}}</p>
    
{% endif %}


{% endblock %}