{% extends "base.html" %}

{% block content %}
<h2>Login</h2>

<!-- System messages -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container-message">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}


<!-- Login form -->
{{form.csrf_token}}
<div class="container-form">
    <form class="container" method="POST">
        {{form.hidden_tag()}}
        <div class="row" id="form-row">
            <div class="col">{{form.username.label}} {{form.username}}</div>
        </div>
        <div class="row" id="form-row">
            <div class="col">{{form.password.label}} {{form.password}}</div>
        </div>

        <div>{{form.submit}}</div>
    </form>
</div>

<ul class="nav-links">
    <li></li>
</ul>

{% endblock %}