{% extends "base.html" %}

{% block content %}
<h2>Login</h2>

<div class="container-message">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

    {{form.csrf_token}}
<div class="container-form">
    <form method="POST">
        {{form.hidden_tag()}} 
        {{form.username.label}} {{form.username}}
        {{form.password.label}} {{form.password}}
        <div style="margin-top:25px;">{{form.submit}}</div>
    </form>
</div>

<ul>
    <li><a href="{{ url_for('Novel_login.add_user') }}">Add New User</a></li>
</ul>

{% endblock %}