{% extends "base.html" %}

{% block content %}
<h2>Login</h2>

<!-- System messages -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <h5>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </h5>
    {% endif %}
{% endwith %}

<!-- Login form -->
{{form.csrf_token}}
<div class="container-form">
    <form method="POST" id="loginForm">
        {{form.hidden_tag()}}
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>{{form.username.label}}</label>
                    {{form.username(placeholder="Enter username")}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>{{form.password.label}}</label>
                    {{form.password(placeholder="Enter password")}}
                </div>
            </div>
        </div>

        <div>{{form.submit}}</div>
    </form>
</div>

<ul class="nav-links">
    <li></li>
</ul>

{% endblock %}