{% extends "base.html" %}

{% block title %}Password Reset | NS{% endblock %}

{% block content %}
<h2>Password Reset</h2>

<div class="container-message">
    <strong>Current User:</strong> {{ user.username }} [{{ user.role }}]<br/>
</div>

<!-- System messages -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <h5>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </h5>
    {% endif %}
{% endwith %}

<h5>Reset Password for<br/>User: {{ username }}</h5>
<!-- Reset user password form -->
<div class="container-form">
    <form method="POST" class="ns-form" id="resetPasswordForm">
        {{form.hidden_tag()}} 
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>{{form.password.label}}</label>
                    {{form.password(placeholder="New password")}}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>{{form.confirm_password.label}}</label>
                    {{form.confirm_password(placeholder="Confirm new password")}}
                </div>
            </div>
        </div>
        <!-- Buttons -->
        <div class="form-actions">
            <button class="btn btn-primary">Reset Password</button>
            <a href="{{ url_for('Novel_login.dashboard') }}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

<!-- Navigation Links -->
<ul class="nav-links">
    <li style="float:left;"><a class="active" href="{{ url_for('Novel_login.dashboard') }}">Dashboard</a></li>

    {% if user.role == 'manager' %}
    <li><a href="{{ url_for('Novel_login.add_user') }}">Register User</a></li>
    {% endif %}
    
    <li><a href="{{ url_for('Novel_inventory.inventory') }}">Inventory</a></li>
    <li><a href="{{ url_for('Novel_inventory.search') }}">Search Inventory</a></li>
    {% if user.role == 'manager' %}
    <li><a href="{{ url_for('Novel_inventory.add_book') }}">Add Book</a></li>
    
    <li><a href="{{ url_for('Novel_sales_reports.sales_report') }}">Sales Reports</a></li>
    {% endif %}
    <li><a href="{{ url_for('Novel_cart.view_cart') }}" class="cart-link">🛒 Cart</a></li>

    <li style="float:right;"><a href="{{ url_for('Novel_login.logout') }}">Logout</a></li>
</ul>

{% endblock %}