{% extends "base.html" %}

{% block content %}
<h2>Password Reset</h2>
<div class="container-message">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<p> Reset Password for user: {{ username }}</p>
<p> Please enter your new password below:</p>
<div class="container-form">
    <form method="POST">
        {{form.hidden_tag()}} 
        {{form.password.label}} {{form.password}}
        {{form.confirm_password.label}} {{form.confirm_password}}
        <div style="margin-top:25px;">{{form.submit}}</div>

        
    </form>
</div>

{% endblock %}