{% extends "base.html" %}

<title>{% block title %}Password Reset | NS{% endblock %}</title>

{% block content %}
<h2>Password Reset</h2>

<div class="container-message">
    Current User: {{ user.username }} [{{ user.role }}]<br>

<!-- System messages -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}
</div>

<!-- Reset user password form -->
<div class="container-form">
    <h5 style="margin-bottom:15px;">Reset Password for User: {{ username }}</h5>
    <p style="margin-bottom: 25px;">Please enter your new password below:</p>

    <form method="POST">
        {{form.hidden_tag()}} 
        <div class="row" id="reset-row">
            <div class="col">{{form.password.label}} {{form.password}}</div>
            <div class="col">{{form.confirm_password.label}} {{form.confirm_password}}</div>
        </div>
        <div>{{form.submit}}</div>
    </form>
</div>


<!-- Navigation Links -->
<ul class="nav-links">
    <li style="float:left;"><a class="active" href="{{ url_for('Novel_login.dashboard') }}">Dashboard</a></li>

    {% if user.role == 'manager' %}
    <li><a href="{{ url_for('Novel_login.add_user') }}">Register User</a></li>
    {% endif %}
    
    <li><a href="{{ url_for('Novel_inventory.inventory') }}">View Inventory</a></li>
    <li><a href="{{ url_for('Novel_inventory.search') }}">Search Inventory</a></li>
    {% if user.role == 'manager' %}
    <li><a href="{{ url_for('Novel_inventory.add_book') }}">Add Book to Inventory</a></li>
    <li><a href="{{ url_for('Novel_login.dashboard') }}">Inventory Reports</a></li>
    {% endif %}
    
    {% if user.role == 'cashier' %}
    <li><a href="{{ url_for('Novel_POS.process_sale') }}">Process Sale</a></li>
    {% endif %}
    {% if user.role == 'manager' %}
    <li><a href="{{ url_for('Novel_sales_reports.sales_report') }}">Sales Reports</a></li>
    {% endif %}
    <li><a href="{{ url_for('Novel_cart.view_cart') }}" class="cart-link">🛒 Cart</a></li>

    <li style="float:right;"><a href="{{ url_for('Novel_login.logout') }}">Logout</a></li>
</ul>

{% endblock %}