{% extends 'base.html' %}

{% block content %}
<h2>Sales Report</h2>

<p>Date: {{currentDate}}</p>



<!-- Add your sale processing content here -->


<ul>
    <li><a href="{{ url_for('Novel_login.dashboard') }}">Dashboard</a></li>

    {% if user.role == 'manager' %}
    <li><a href="{{ url_for('Novel_login.add_user') }}">Add New User</a></li>
    {% endif %}

    {% if user.role == 'cashier' %}
    <li><a class="active" href="{{ url_for('Novel_POS.process_sale') }}">Process Sale</a></li>
    {% endif %}

    <li><a href="{{ url_for('Novel_inventory.add_book') }}">Add Book to Inventory</a></li>

    <li style="float:right;"><a href="{{ url_for('Novel_login.logout') }}">Logout</a></li>
</ul>


{% end block %}
