{% extends "base.html" %}

{% block title %}Select Payment | NS{% endblock %}

{% block content %}
<h2>Select Payment Method</h2>

<div class="container-message">
    <strong>Current User:</strong> {{ user.username }} [{{ user.role }}]<br/>
</div>

<!-- System messages -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <h5>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </h5>
    {% endif %}
{% endwith %}

<div class="container-payment">
    <!-- Options for Cash or Credit Card -->
    <div class="payment-options">
        <a href="{{ url_for('Novel_POS.cash_checkout') }}" class="btn btn-primary">💵 Pay with Cash</a>
        <hr class="solid">
        <a href="{{ url_for('Novel_POS.checkout') }}" class="btn btn-primary">💳 Pay with Credit Card</a>
    </div>
</div>

<!-- Navigation Links -->
<ul class="nav-links">
    <li><a href="{{ url_for('Novel_cart.view_cart') }}" class="cart-link">🛒 Back to Cart</a></li>
</ul>

{% endblock %}